[Desktop Entry]
Version=1.0
Type=Application
Name=SafeLauncher
Comment=Game Sandbox Launcher
Exec=SafeLauncher
Icon=safelauncher
Terminal=false
Categories=Game;
Keywords=game;launcher;sandbox;firejail;steam;
StartupWMClass=SafeLauncher
